<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <div class="h-screen bg-orange-100 overflow-auto">

        <!-- Navbar -->
        <nav class="flex items-center justify-between flex-wrap bg-orange-300 p-6">
            <div class="flex items-center flex-shrink-0 mr-6">
                <span class="font-semibold text-xl tracking-tight">Blog Functionality</span>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a href="/" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                        Home
                    </a>
                    <a href="/admin" class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                        Admin
                    </a>
                </div>
            </div>
        </nav>

         <!-- Content -->
         <div class="flex flex-col justify-center items-center">

            <div class="text-3xl font-bold mb-2 mt-6">Blog Admin Page</div>

            <div class="text-2xl font-bold mb-8 mt-4">Create a Blog</div>

                <div class="flex flex-row justify-evenly items-center">
                    
                    <form action="/admin" method="POST" class="flex flex-col justify-evenly items-center text-lg">

                        <select class="form-select mb-7 border" name="category">
                          <option selected>Select a Blog Type</option>
                          <% category.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                          <% }) %>
                        </select>
              
                        <div class="mb-7">
                          <label for="title" class="form-label">Title:</label>
                          <input type="text" class="form-control border" id="title" name="title">
                        </div>
                        <div class="mb-7">
                          <label for="content" class="form-label">Content:</label>
                          <textarea type="text" class="form-control border h-48 w-96" id="content" name="content"></textarea>
                        </div>                     
                        <div class="mb-7">
                          <label for="publishDate" class="form-label">Publish Time:</label>
                          <input type="datetime-local" class="form-control border" id="publishDate" name="publishDate">
                        </div>                        
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create a New Blog</button>
                      </form>
                </div>

                <div class="text-2xl font-bold mb-8 mt-8">All Blogs</div>
                <% blogs.forEach(blog => { %>
                    <div class="flex flex-col justify-between items-center border p-4 mb-4 blog" data-id="<%= blog.id %>">
                        <div>
                            <h2 class="font-bold text-xl mb-2 flex justify-center"><%= blog.title %></h2>
                            <p class="blog-content text-center"><%= blog.content %></p>
                        </div>
                        <div class="flex flex-row mr-5">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 ml-5 mb-1 mt-3 edit-button">Edit</button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2 ml-5 mb-1 mt-3 delete-button">Delete</button>
                            <a href="/comments/<%= blog.id %>" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-5 mb-1 mt-3">Comments</a>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-5 mb-1 mt-3 save-button" style="display: none;">Save</button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-5 mb-1 mt-3 cancel-button" style="display: none;">Cancel</button>
                        </div>
                    </div>
                <% }) %>
                

         </div>   

    </div>
    
    <script src="/scripts/buttons.js"></script>

</body>
</html>