<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <div class="h-screen bg-orange-100 overflow-auto">

         <!-- Content -->
         <div class="flex flex-col justify-evenly items-center">
            <div class="text-3xl font-bold mb-4">Blog Types</div>
            <% category.forEach(category => { %>
                <div class="flex flex-col justify-evenly items-center w-80">
                <div class="title font-bold">
                    <%= category.title %> 
                </div>
                <img class="w-64 rounded-md" src="<%= category.imageURL %>" alt="">
                <div class="description text-center"><%= category.description %> </div>
                <% blogs.forEach(blog => { 
                    if(category.id == blog.categoryID && blog.isPublished == true){ %>
                        <a class="font-semibold bg-green-500 hover:bg-green-700 text-white px-4 rounded mb-4 text-center" href="/details/<%= blog.id %> "><%= blog.title %> </a>
                    <% }
                }) %>
                </div>
            <% }) %>
         </div>   

    </div>
    
</body>
</html>